*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 750px;
  margin: 0 auto;
  -webkit-tap-highlight-color :rgba(0,0,0,0);
  -webkit-overflow-scrolling: touch;
}
html,body{
  height: 100%;
}

body, button, input, select, textarea {
  font-family:  'PingFangSC-Regular', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
}
:global(.mint-indicator-mask){
  z-index: 9999!important;
}
:global(.mint-indicator-wrapper){
  width: 200px!important;
}
:global{
  .mint-msgbox{
    background: rgba(248,248,248,0.7)!important;
    border-radius: 28px!important;
    width: 540px!important;
    //height: 280px!important;
  }
  .mint-msgbox-btns{
    height: auto!important;
  }
  .mint-msgbox-btn{
    height: 100px!important;
    background: rgba(248,248,248,0.82)!important;
  }
  .mint-msgbox-content{
    padding: 0 40px!important;
    background: rgba(248,248,248,0.82)!important;
    border-bottom: 1px solid #3F3F3F!important;
    font-size: 30px!important;
    color: #323744!important;
    height: 180px!important;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
  }
  .mint-msgbox-message{
    color: #323744!important;
    line-height: 40px!important;
  }
  .mint-msgbox-cancel{
    font-size: 34px!important;
    color: #7D879B!important;
    border-right: 1px solid #3F3F3F!important;
  }
  .mint-msgbox-confirm{
    font-size: 34px!important;
    color: #5E3F8B!important;
  }
  .mint-msgbox-confirm:active{
    color: #5E3F8B!important;
    background: rgba(248,248,248,0.82)!important;
  }
}